$font-rubik: 'Rubik', Arial, sans-serif;
$font-gara: 'Cormorant Garamond', serif;

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.wrapper-1110 {
	max-width: 1110px;
}

.body {
	background-color: #ffffff;
}

.header {
	width: 100%;

}

.nav {
	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid #444444;

	&__list {
		display: flex;
	}

	&__account {
		display: flex;

		border-left: 1px solid #444444;
	}

	&__item {
		margin-right: 30px;
	}

	&__link {

	}
}

.link-login,
.link-register {
	display: block;
	margin-left: 30px;
}

.link-login {

}

.link-register {

}